{% extends './base.html' %}

{% block style %}
    <link rel="stylesheet" href="/static/toastr.css">
    <script type="text/javascript" src="/static/toastr.js"></script>
{% endblock %}

{% block active_lesson %}active{% endblock %}

{% block icon_src %}/static/image/student.png{% endblock %}
{% block icon_src1 %}/static/image/school1.png{% endblock %}
{% block icon_src2 %}/static/image/teacher.png{% endblock %}
{% block icon_src3 %}/static/image/table1.png{% endblock %}
{% block icon_src4 %}/static/image/home1.png{% endblock %}
{% block icon_src5 %}/static/image/class.png{% endblock %}
{% block icon_src6 %}/static/image/select.png{% endblock %}
{% block icon_src7 %}/static/image/note.png{% endblock %}

{% block title %}课程表{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>课号</th>
            <th>课名</th>
            <th>学分</th>
            <th>学时</th>
            <th>院系号</th>
            <th></th>
            <th></th>
        </tr>
        {% for lesson in page_of_list %}
            <tr>
                <td>{{ lesson.kh }}</td>
                <td>{{ lesson.km }}</td>
                <td>{{ lesson.xf }}</td>
                <td>{{ lesson.xs }}</td>
                <td>{{ lesson.yxh }}</td>
                <td><button id="confirm" onclick="Select('{{ lesson.kh }}','{{ lesson.km }}','{{ lesson.xf }}','{{ lesson.xs }}','{{ lesson.yxh }}')"
                            type="button" class="btn btn-info">选择</button></td>
                <td><button type="button" class="btn btn-danger" onclick="Delete('{{ lesson.kh }}')">删除</button></td>
            </tr>
        {% endfor %}
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination" style="margin-left: 42%">
            <li>
                {% if page_of_list.has_previous %}
                    <a href="?page={{ page_of_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                 {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {% for page_number in page_range %}
                {% if page_number == page_of_list.number %}
                        <li class="active"><span>{{ page_number }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if page_of_list.has_next %}
                    <a href="?page={{ page_of_list.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="MyLesson1" aria-labelledby="MyModalLabel" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="{% url "AmendLesson" %}" autocomplete="off" method="post" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">x</button>
                        <h3>修改课程信息</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">课号</label>
                            <div class="col-sm-6">
                                <input type="text" id="number" class="form-control" name="number" readonly="readonly">
                            </div>
                            <div class="col-sm-4 tips"><span>* </span>不允许被修改</div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">课名</label>
                            <div class="col-sm-6">
                                <input type="text" id="lesson_name" class="form-control" name="lesson_name">
                            </div>
                            <div class="col-sm-4 tips"><span>* </span>必填</div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">学分</label>
                            <div class="col-sm-6">
                                <input type="number" id="credit" name="credit" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">学时</label>
                            <div class="col-sm-6">
                                <input type="number" id="hours" name="hours" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">院系号</label>
                            <div class="col-sm-6">
                                <select name="school" id="school" class="form-control">
                                   {% for school in school_list  %}
                                       <option>{{ school.yxh }}</option>
                                   {% endfor %}
                                </select>
                            </div>
				            <div class="col-sm-4 tips"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">保存</button>
                        <button class="btn btn-info" data-dismiss="modal">关闭</button>
                    </div>
                </form>
			</div>
        </div>
    </div>
    <div class="modal fade" id="MyLesson_add" aria-labelledby="MyModalLabel" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off" method="post" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">x</button>
                        <h3>添加课程信息</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">课号</label>
                            <div class="col-sm-6">
                                <input type="text" id="number_add" class="form-control" name="number" placeholder="输入课程号">
                            </div>
                            <div class="col-sm-4 tips"><span>* </span>必填</div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">课名</label>
                            <div class="col-sm-6">
                                <input type="text" id="lesson_name_add" class="form-control" name="lesson_name" placeholder="输入课程名">
                            </div>
                            <div class="col-sm-4 tips"><span>* </span>必填</div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">学分</label>
                            <div class="col-sm-6">
                                <input type="number" id="credit_add" name="credit" value="{{ credit }}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">学时</label>
                            <div class="col-sm-6">
                                <input type="number" id="hours_add" value="{{ hours }}" name="hours" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">院系号</label>
                            <div class="col-sm-6">
                                <select name="school" id="school_add" class="form-control">
                                   {% for school in school_list  %}
                                       <option>{{ school.yxh }}</option>
                                   {% endfor %}
                                </select>
                            </div>
				            <div class="col-sm-4 tips"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="lesson_save" class="btn btn-primary" type="button">保存</button>
                        <button class="btn btn-info" data-dismiss="modal">关闭</button>
                    </div>
                </form>
			</div>
        </div>
    </div>
    <div class="modal fade" id="Delete_lesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <form class="form-horizontal" method="post" autocomplete="off" action="{% url "DeleteLesson" %}?from={{ request.get_full_path }}" accept-charset="UTF-8">
                   {% csrf_token %}
                   <div class="modal-header">
                      <button type="button" class="close"data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" style="text-align: center;font-size: 25px;">提示信息</h4>
                   </div>
                   <div class="modal-body">
                       <text style="font-size: 17px;">确认删除该教师信息吗?</text>
                       <br>
                       <text style="color:#f30;display: inline-block;margin-top: 12px;">
                           系统将同时删除该教师所有相关信息
                       </text>
                       <input type="hidden" name="number" id="lesson_number">
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                       <button type="submit" class="btn btn-danger">确认删除</button>
                   </div>
               </form>
           </div>
      </div>
    </div>
{% endblock %}

{% block panel_content %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" id="addschool"><a href="#">添加课程信息</a></li>
        <li role="presentation"><a href="{% url "EditLesson" %}">编辑课程信息</a></li>
    </ul>
{% endblock %}

{% block script %}
    <script>
        function Select(kh,km,xf,xs,yxh) {
            $("#number").val(kh);
            $("#lesson_name").val(km);
            $("#credit").val(xf);
            $("#hours").val(xs);
            $("#school").val(yxh);
            $("#MyLesson1").modal();
        }
    </script>
    <script>
        toastr.options.positionClass = "toast-top-center";
         $("#search_btn").click(function () {
             let content = $("#search-input").val();
             let url = '{% url 'EditLessonSearch' 'content' %}';
             url = url.replace(/content/,content);
             window.location.href = url;
         });
        $("#addschool").click(function () {
            $("#MyLesson_add").modal()
        });
        $("#lesson_save").click(function () {
            var number = $("#number_add").val();
            var name = $("#lesson_name_add").val();
            var credit = $("#credit_add").val();
            var hours = $("#hours_add").val();
            var school = $("#school_add").val();
            if (number === "" || name === ""){
                toastr.error("表格必须填写完整")
            }
            else if (number.length !== 8){
                toastr.error("请输入正确格式的课程号")
            }
            else{
                var data_obj = new FormData();
                data_obj.append('csrfmiddlewaretoken', $('[name="csrfmiddlewaretoken"]').val());
                data_obj.append('number', number);
                data_obj.append('name', name);
                data_obj.append('credit', credit);
                data_obj.append('hours', hours);
                data_obj.append('school', school);
                $.ajax({
                    url:'{% url "AddLesson" %}',
                    type:'post',
                    data:data_obj,
                    dataType:'json',
                    processData:false,
                    contentType:false,
                    success(res){
                        if (res.code === -1){
                            toastr.error("该课程号已经存在")
                        }
                        if (res.code === 0){
                            location.reload();
                        }
                    },
                    fail(res){
                        toastr.error("插入失败")
                    }
                })
            }
        });
        function Delete(number) {
            $("#lesson_number").val(number);
            $("#Delete_lesson").modal();
        }
    </script>
    <script>
        window.onpageshow = function () {
            var role = getCookie('role');
            var status = getCookie('status');
            if (role !== "superuser" || status === ""){
                window.location.href = "{% url 'Login' %}"
            }
        }
    </script>
{% endblock %}