{% extends './base.html' %}

{% block register_grade %}active{% endblock %}

{% block title %}登记学生成绩{% endblock %}

{% block style %}
    <style>
        .btn-control{
            width: 75px;
            text-align: center;
        }
        .button_row{
            width: 100%;
            height: auto;
            padding: 10px 5px;
        }
        .table-btn{
            float: right;
            width: 70px;
            margin-right: 50px;
        }
    </style>
{% endblock %}

{% block content %}
    <table class="table table-striped" id="grade_table">
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>课号</th>
            <th>课名</th>
            <th>平时成绩</th>
            <th>考试成绩</th>
            <th>总评成绩</th>
        </tr>
        {% for lesson in page_of_list %}
            {% csrf_token %}
            <tr>
                <td>{{ lesson.0 }}</td>
                <td>{{ lesson.1 }}</td>
                <td>{{ lesson.2 }}</td>
                <td>{{ lesson.3 }}</td>
                <td>
                    <input class="form-control btn-control input_cj" type="number" placeholder="{{ lesson.4 }}">
                </td>
                <td>
                    <input class="form-control btn-control input_cj" type="number" placeholder="{{ lesson.5 }}">
                </td>
                <td>{{ lesson.6 }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="button_row">
        <button type="button" class="btn btn-danger table-btn" onclick="Cancel()">取消</button>
        <button type="button" class="btn btn-primary table-btn" onclick="Confirm()">提交</button>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination" style="margin-left: 42%">
            <li>
                {% if page_of_list.has_previous %}
                    <a href="?page={{ page_of_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                 {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {% for page_number in page_range %}
                {% if page_number == page_of_list.number %}
                        <li class="active"><span>{{ page_number }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if page_of_list.has_next %}
                    <a href="?page={{ page_of_list.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script>
        let rule_ps = 0;
        let rule_ks = 0;
        let status_ps = 0;   //默认未开启平时成绩登记
        let status_ks = 0;   //默认未开启考试成绩登记
        toastr.options.positionClass = 'toast-top-center';
        $(".input_cj").blur(function () {
            let data2 = $(this).parents('tr').find('td:eq(5)').find('input').val();
            if (data2 === ''){
                data2 = $(this).parents('tr').find('td:eq(5)').find('input').attr('placeholder')
            }
            let data1 = $(this).parents('tr').find('td:eq(4)').find('input').val();
            if (data1 === ''){
                data1 = $(this).parents('tr').find('td:eq(4)').find('input').attr('placeholder')
            }
            if (data1 !== '' && data2 !== ''){
                let zpcj = Math.round(rule_ps*data1*0.1 + rule_ks*data2*0.1);
                $(this).parents('tr').find('td:eq(6)').text(zpcj)
            }
        });
        function Cancel() {
            window.location.reload()
        }
        function Confirm(){
            let flag = 0;
            $('#grade_table tr').each(function (i) {
                if (i){
                    let stu_number = $(this).children('td:eq(0)').text();
                    let lesson_number = $(this).children('td:eq(2)').text();
                    let tea_number = getCookie('number');
                    let pscj = '';
                    let kscj = '';
                    if ($(this).children('td:eq(4)').find('input').val() === ''){
                        pscj = $(this).children('td:eq(4)').find('input').attr('placeholder')
                    }
                    else{
                        pscj = $(this).children('td:eq(4)').find('input').val()
                    }
                    if ($(this).children('td:eq(5)').find('input').val() === ''){
                        kscj = $(this).children('td:eq(5)').find('input').attr('placeholder')
                    }
                    else{
                        kscj = $(this).children('td:eq(5)').find('input').val()
                    }
                    let zpcj = $(this).children('td:eq(6)').text();
                    var data_obj = new FormData();
                    data_obj.append('csrfmiddlewaretoken', $('[name="csrfmiddlewaretoken"]').val());
                    data_obj.append('stu_num', stu_number);
                    data_obj.append('lesson_num', lesson_number);
                    data_obj.append('tea_num',tea_number);
                    data_obj.append('pscj',pscj);
                    data_obj.append('kscj',kscj);
                    data_obj.append('zpcj', zpcj);
                    $.ajax({
                        url:'{% url 'Save_grade' %}',
                        type:'post',
                        data:data_obj,
                        dataType:'json',
                        processData:false,
                        contentType:false,
                        success(res){
                            if (res.code !== 0){
                                flag = 1;
                            }
                        },
                        fail(){
                            flag = 1;
                        },
                        error(){
                            flag = 0;
                        }
                    })
                }
            });
            if (flag){
               toastr.error('提交成绩失败')
            }
            else{
                toastr.success('提交成功,页面即将刷新');
                setTimeout(function () {
                    window.location.reload()
                },1000)
            }
        }
        window.onpageshow = function(){
            let data_obj = new FormData();
            data_obj.append('csrfmiddlewaretoken', $('[name="csrfmiddlewaretoken"]').val());
            data_obj.append('lesson', $("#grade_table").find('tr').eq(1).children('td').eq(2).text());
            status_ps = parseInt(sessionStorage.getItem('status_ps'));
            status_ks = parseInt(sessionStorage.getItem('status_ks'));
            $.ajax({
                url:'{% url 'Get_Percent' %}',
                type:'post',
                data:data_obj,
                dataType: 'json',
                processData:false,
                contentType:false,
                success(res) {
                    rule_ps = res.rule_ps;
                    rule_ks = res.rule_ks;
                }
            });
            setTimeout(function () {
                let semes = sessionStorage.getItem('semester');
                if (semes === null){
                    semes = $("#semester").text();
                }
                $("#semester_change").val(semes);
                if (!status_ps){
                    $("#grade_table tr").each(function () {
                        $(this).children('td:eq(4)').find('input').attr('disabled','disabled');
                        $(this).children('td:eq(4)').click(function () {
                            toastr.error('不在平时成绩登记时间范围内')
                        })
                    })
                }
                if (!status_ks){
                   $("#grade_table tr").each(function () {
                        $(this).children('td:eq(5)').find('input').attr('disabled','disabled');
                        $(this).children('td:eq(5)').click(function () {
                            toastr.error('不在考试成绩登记时间范围内')
                        })
                    })
                }
            },100)

        };
        $("#edit_semester_confirm").attr('disabled', 'disabled');
        $("#search_button").click(function () {
            let content = $("#search_input").val();
            let semester = $("#semester_change").val();
            let lesson = sessionStorage.getItem('lesson');
            if (content === ''){
                toastr.error('请输入搜索内容')
            }
            else{
                sessionStorage.setItem('semester', semester);
                let number = getCookie('number');
                let url = '{% url 'RegisterGradeSearch' 'number' 'semester' 'lesson' 'content' %}';
                url = url.replace(/number/,number).replace(/semester/,semester).replace(/lesson/,lesson)
                    .replace(/content/,content)
                window.location.href = url;
            }
        })
    </script>
{% endblock %}