{% extends './base.html' %}

{% block title %}选课主页面{% endblock %}

{% block select_class %}active{% endblock %}

{% block content %}
     <table class="table table-striped">
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>课号</th>
            <th>课名</th>
            <th>开课学院</th>
            <th>上课时间</th>
        </tr>
        {% for lesson in page_of_list %}
            <tr>
                <td>{{ lesson.0 }}</td>
                <td>{{ lesson.1 }}</td>
                <td>{{ lesson.2 }}</td>
                <td>{{ lesson.3 }}</td>
                <td>{{ lesson.4 }}</td>
                <td>{{ lesson.5 }}</td>
            </tr>
        {% endfor %}
   </table>
    <nav aria-label="Page navigation">
        <ul class="pagination" style="margin-left: 42%">
            <li>
                {% if page_of_list.has_previous %}
                    <a href="?page={{ page_of_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                 {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {% for page_number in page_range %}
                {% if page_number == page_of_list.number %}
                        <li class="active"><span>{{ page_number }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if page_of_list.has_next %}
                    <a href="?page={{ page_of_list.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script>
        toastr.options.positionClass = "toast-top-center";
        window.onpageshow = function(){
            setTimeout(function () {
                let semes = sessionStorage.getItem('semester');
                if (semes === null){
                    semes = $("#semester").text();
                }
                $("#semester_change").val(semes);
            },100)
        };
        $("#edit_semester_confirm").click(function () {
            var cookie_semester = $("#semester_change").val();
            sessionStorage.setItem('semester',cookie_semester);
            let number = getCookie('number');
            let url = '{% url 't_Select_Lesson' 'number' 'semester' %}';
            url = url.replace(/number/,number).replace(/semester/,cookie_semester);
            window.location.href = url;
        });
        $("#search_button").click(function () {
            let content = $("#search_input").val();
            let semester = $("#semester_change").val();
            if (content === ''){
                toastr.error('请输入搜索内容')
            }
            else{
                sessionStorage.setItem('semester', $("#semester_change").val());
                let url = '{% url 'Select_Search' 'number' 'semester' 'content' %}';
                url = url.replace(/number/,getCookie('number')).replace(/semester/,semester).replace(/content/,content);
                window.location.href = url;
            }
        })
    </script>
{% endblock %}